<% content_for :additional_head do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-_ZJOQLMJWhZm_e8WHt7Ykcen9KgnJ4c&libraries=places&callback=initMap"
  async defer></script>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <%= content_for :map %>
  <%= render 'maps/map' %>
</div>

<br>

<div class="container_fluid">
  <div class="row">
    <div class="col-lg-4">
      Showing current date:
      <%= text_field :track, :date, "data-provide" => 'datepicker', "class" => 'datepicker', "value" => @current_date  %>
      <%= link_to "Change", root_path %>
    </div>
    <div class="col-lg-8">
      <form class="row range">
        <input
          id="track_time_range"
          type="range"
          min="0"
          max="1440"
          step="1"
          name="time" />
        <output for="time" onforminput="value = time.valueAsNumber;"></output>
      </form>
    </div>
  </div>
</div>

<div id="log-out">
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>  
</div>

