<% content_for :additional_head do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-_ZJOQLMJWhZm_e8WHt7Ykcen9KgnJ4c&libraries=places&callback=initMap"
  async defer></script>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <%= content_for :map %>
  <%= render 'maps/map' %>
</div>

<br>

<div class="container_fluid">
  <div class="row">
    <div class="col-lg-4">
      <div>
        <b>Trip start:</b>
        <%= @trip.start_time %>
      </div>
      <div>
        <b>Trip end:</b>
        <%= @trip.end_time %>
      </div>
      <%= form_tag("/", method: "get") do %>
        <%= label_tag(:trip, "Trip") %>
        <%= select_tag(:trip,
                       # value: @trip.id,
                       options_for_select(Trip.includes(:tracks).map { |t| ["#{t.id} (#{t.tracks.count})", t.id]})) %>
        <%= submit_tag("Change", class: "btn btn-primary") %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <form class="row range">
        <input
          id="track_time_range"
          type="range"
          min="0"
          max="1440"
          step="1"
          name="time" />
        <output for="time" onforminput="value = time.valueAsNumber;"></output>
      </form>
    </div>
  </div>
</div>

<div id="log-out">
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  | <%= link_to "Download CSV", root_path(format: "csv"), :class => "btn btn-primary btn-sm" %>
</div>

